extends layout

block content
  h1="Debt control service"
  br
  table.table-striped.mx-auto.debts-table.thead-dark
    thead.text-center
      tr
        th(scope="col") #
        th(scope="col") Имя
        th(scope="col") Размер займа
        th(scope="col") Дата
        th(scope="col") Управление
    tbody
      -each val, key in debts
        tr
          td #{key+1}
            td.text-center #{val['name']}
            td.text-center #{val['size']}
            td.text-center #{val['date']}
            td.text-center
              button(onClick=('onUpdate(' + key + ')')).custom-but.upd-but &nbsp
              &nbsp 
              button(onClick=('onDelete(' + key + ')')).custom-but.del-but &nbsp
